body{
    width: 100%;
    height: 100%;
    --s: 100px; /* control the size */
    --c1: #ff8afc;
    --c2: #1b1b3a;
    --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
      var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
      var(--c1) 76% 84%, var(--c2) 86% 94%;
    background: radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g), #0008 96%, #0000),
      radial-gradient(100% 100% at 0 100%, #0000, #0008 4%, var(--_g), var(--c1) 96% )var(--c1);
    background-size: var(--s) var(--s);
    opacity: 100%;
}
h1{
    color: #000;
    font-family: "Futura Md BT";
    font-size: 2.5rem;   
    font-weight: 600;
margin-bottom: 1%;}
h2{
    color: #000;
    font-family: "Futura Md BT";
    font-size: 1.5rem;   
    font-weight: 200;
}
p{
    color: #000;
    font-family: "Futura Md BT";
    font-size: 1rem;   
    font-weight: 100;
}
.purplebtn{
display: flex;
width:fit-content;
min-width: 300px;
padding: 0.875rem 4.5625rem;
justify-content: center;
align-items: center;
border-radius: 0.625rem;
border: 0.658px solid #8E8383;
background: #81358D;
color: #FFF;
font-family: "Futura Md BT";
font-size: 1.3rem;
font-weight: 200;

}
.purplebtn:active{
    scale:95%;

}

.greenbtn{

width:fit-content;
min-width: 50px;
padding: 0.475rem 2.5625rem;
border-radius: 0.325rem;
border: 0.658px solid #8E8383;
background:#18A800;
color: #FFF;
font-family: "Futura Md Bt";
font-size: 1rem;
font-weight: 100;
}
.greenbtn:hover{
    opacity: 90%;
}

.greenbtn:active{
    scale:95%;
    opacity:100%;
}
.txtbox{
width: 300px;
padding: 1rem;
justify-content: center;
align-items: flex-end;
border-radius: 0.5rem;
border: 1.5px solid lightgrey;
transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
box-shadow: 0px 0px 20px -18px;
margin-bottom: 1rem;
}
.txtbox:hover {
    border: 1.5px solid rgb(97, 97, 97);
    box-shadow: 0px 0px 20px -17px;
  }

.box1{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2{
    margin-top:50px;
    min-width: 400px;
    display: flex;
    width:fit-content;
    flex-direction: column;
    border-radius: 0.75rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(255, 255, 255, 0.14);
}
.box3{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form1{
    display: flex;
    flex-direction:column;
}
.offer{
min-width: 400px;
 width: fit-content;
 height: 100px;
 padding: .8em;
 background: #ffffff;
 border-radius: 16px;
 margin-bottom: 10px;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.lgbox{
    margin-top: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.lg{

    width:max-c;
}

a {
   color: white;
    text-decoration: none;
  }
a:active{
    color: white;
}
#h{
    color: white;
    opacity: 80%;
}